vs_solution/.vs/
vs_solution/*.db
vs_solution/*.opendb
vs_solution/x64/
vs_solution/Temp/
vs_solution/Bin/*.ipdb
vs_solution/Bin/*.exe
vs_solution/Bin/*.exp
vs_solution/Bin/*.lib
vs_solution/Bin/*.pdb
vs_solution/Bin/*.ilk
vs_solution/Bin/*.iobj
vs_solution/Bin/log/
vs_solution/Lib/
vs_solution/ipch/
